{% extends 'base_slim.html' %}
{% load static %}


{% block content %}
<main>
  <div class="container my-5">
    <div class="row py-5">
      <div class="col-md-4 mx-auto text-center">
        <!-- <span class="icon-frown"></span> -->
        <img src="{% static 'core/img/new/img 3 lg.png' %}" class="img-fluid" alt="">
        <h5 class="text-dark-purple mt-5 mb-4 font-weight-bold">Payment Failed</h5>
        <p class="mb-5">The payment failed, please visit your <a href="{% url 'core:cart_detail' %}">cart</a> and try again</p>
        <a href="{% url 'core:event_list' %}" class="btn btn-purple">Browse Events</a>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
  