{% extends 'core/base_slim.html' %}
{% load static %}

{% block content %}
<h2>Placeholder for about page</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat pariatur quod error soluta a vel facere facilis neque possimus ipsam quasi impedit obcaecati quas dolorem nam ab, recusandae quia vero culpa consectetur alias quidem quaerat? Fugit iusto fuga veritatis nemo eius quasi architecto voluptatum aut quam quos. Laboriosam quia dolores, autem voluptatibus consequuntur suscipit dicta aliquid ipsa a, architecto tempora vero quod est eligendi fugit animi temporibus voluptatem quasi dolore itaque corporis inventore? Dolor perferendis recusandae dolores in nihil minima.</p>
{% endblock content %}