{% extends 'base_slim.html' %}
{% load static %}


{% block content %}
<main>
  <div class="container my-5">
    <h4 class="text-purple my-5 text-center font-weight-bold">Create Event</h4>
    <div class="row py-5">
      <div class="col-md-5">
        <div class="form">
          <div class="form-row">
            <div class="col-md-8">
              <img src="img/new/img 2.jpeg" alt="" class="img-fluid">
            </div>
            <div class="col-md-4"> form with event details</div>
          </div>
        </div>
      </div>
      <div class="col-md-5 offset-md-2 mb-5">
        
      </div>
    </div>
  </div>
</main>
{% endblock content %}  