{% extends 'core/base_slim.html' %}
{% load static %}

{% block content %}
    
    {% include "core/includes/search.html" %}

    <!-- EVENTS -->
    <section>
        <div class="album py-5 bg-light">
            <div class="container">
                <h2 class="pb-3">EVENTS</h2>
                <div class="row">
                    {% comment %} <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                                role="img" aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text>
                            </svg>
                            <!-- To replace the svg above -->
                            <!-- <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="img/02.png" alt="Placeholder" focusable="false"
                                        role="img" aria-label="Placeholder: Thumbnail"> -->
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                    </div>
                                    <small class="text-muted"><a class="text-muted" href="">Add to Wishlist</a></small>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}

                    {% for event in object_list %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a href="{{event.get_absolute_url}}">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                                role="img" aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text>
                            </svg>
                            </a>
                            <div class="card-body">
                                <a href="{{event.get_absolute_url}}"><h5 class="card-title">{{event.name}}</h5></a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <a href="{% url 'cart:add_to_cart' event.slug %}"><button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button></a>
                                    </div>
                                    <small class="text-muted"><a class="text-muted" href="">Add to Wishlist</a></small>
                                </div>
                                <small>{{event.timestamp}}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% comment %} <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                                role="img" aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text>
                            </svg>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                                    </div>
                                    <small class="text-muted"><a class="text-muted" href="">Add to Wishlist</a></small>
                                </div>
                            </div>
                        </div>
                    </div>{% endcomment %}
        
                    
                </div>
            </div>
        
            <!-- PAGINATION -->
            <section class=" bg-light">
                <div class="container pt-3">
                    <nav aria-label="Page navigation example text-dark">
                        <ul class="pagination justify-content-center">
                            {% if object_list.has_previous %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                            {% endif %}
                            {% if object_list.has_previous %}
                                <li class="page-item"><a class="page-link text-dark" href="?page={{object_list.previous_page_number}}">{{object_list.previous_page_number}}</a></li>
                            {% endif %}

                            <li class="page-item"><a class="page-link text-dark" href="?page={{object_list.number}}">{{object_list.number}}</a></li>

                            {% if object_list.has_next %}
                                <li class="page-item"><a class="page-link text-dark" href="?page={{object_list.next_page_number}}">{{object_list.next_page_number}}</a></li>
                            {% endif %}
                            {% if object_list.has_next %}
                                <a class="page-link text-dark" href="?page={{object_list.paginator.num_pages}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            {% endif %}

                            {% comment %} <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link text-dark" href="#">Next</a>
                            </li> {% endcomment %}
                        </ul>
                    </nav>
                </div>
            </section>
        
        </div>
    </section>

{% endblock content %}