{% extends 'base_slim.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    
{% include "partials/_search.html" %}

<!-- events -->
<main>
  <div class="container mb-3">
    {% if object_list.exists %}
      <div class="row">
        <div class="card-deck">
          {% for object in object_list %}
          <div class="col-md-6 col-lg-4">
            <div class="card mx-0 my-4 shadow-anim card-limit">
              <a href="{{object.get_absolute_url}}">
                <img src="{{object.image.url}}" class="card-img-top" alt="event image" , aria-label="Placeholder: Thumbnail">
                <div class="card-img-overlay font-weight-bold">
                  <span class="px-2 py-1 bg-white rounded-sm text-dark">{{object.get_price}}</span>
                </div>
              </a>
              <a class="text-decoration-none" href="{{object.get_absolute_url}}">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3 col-md-4 col-lg-3 px-2">
                      <h6 class="card-title mb-1 font-weight-bold text-center text-dark text-uppercase">
                        {{object.start_time|date:"M"}}</h6>
                    </div>
                    <div class="col-9 col-sm-8 col-lg-9 px-2">
                      <h6 class="card-title mb-1 font-weight-bold text-center text-dark">{{object.name}}</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 col-md-4 col-lg-3 px-2">
                      <p class="card-text mb-1 text-center text-dark">{{object.start_time|date:"d"}}</p>
                    </div>
                    <div class="col-9 col-sm-8 col-lg-9 px-2">
                      <p class="card-text mb-1 pl-2 text-center text-dark text-truncate">{{object.street_address}}</p>
                    </div>
                  </div>
                </div>
              </a>
              {% if extra %}
              <div class="card-footer bg-transparent border-0 pl-3 mt-n3">
                <small class="text-muted">Extra: Free drinks for all ladies</small>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <h1 class="text-center text-dark" style="padding-top: 20%; padding-bottom: 20%;">There are no events at this time</h1>
    {% endif %}
    
    <!-- pagination -->
    {% if object_list.is_paginated %}
    <div class="my-5 pb-3">
      <nav aria-label="Page navigation">
        <ul class="pagination rounded-sm">
          
          {% if object_list.has_previous %}
          <li class="page-item">
            <a class="page-link text-dark-purple" href="?page=1" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
          
          {% if object_list.has_previous %}
          <li class="page-item"><a class="page-link bg-purple btn-outline-purple text-light" href="?page={{object_list.previous_page_number}}">{{object_list.previous_page_number}}</a></li>
          {% endif %}         
          
          <li class="page-item"><a class="page-link text-dark-purple" href="?page={{object_list.number}}">{{object_list.number}}</a></li>
          
          {% if object_list.has_next %}
          <li class="page-item"><a class="page-link text-dark-purple" href="?page={{object_list.next_page_number}}">{{object_list.next_page_number}}</a></li>
          {% endif %}

          {% if object_list.has_next %}
          <li class="page-item">
            <a class="page-link text-dark-purple" href="?page={{object_list.paginator.num_pages}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
          
        </ul>
      </nav>
    </div>
    {% endif %}

  </div>
</main>

{% endblock content %}