{% extends 'base_slim.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<main>
  <div class="container mt-5 mb-4 mb-md-5">
    <div class="card bg-dark text-white">
      <img src="{{event.image.url}}" class="card-img" alt="event image">
      <!-- Is visible only in desktop view -->
      <div class="card-img-overlay px-3 pb-0 d-none d-md-block">
        <div class="row h-75 align-items-center justify-content-end">
          <div class="col-md-4 mr-n5 bg-white h-50 rounded text-center py-5">
            <h4 class="text-dark">Date and Time</h4>
            <p class="text-dark">{{event.start_time|time:"h:i a"}}</p>
            <p class="text-dark">{{event.start_time|date:"jS F Y"}}</p>
            <a href="{% url 'core:cart_add' event.id %}" class="btn btn-lg w-25 rounded-0 shadow-none">Cart</a>
            <a href="{% url 'core:cart_detail' %}" class="btn btn-lg w-75 btn-purple float-right">Purchase</a>
          </div>
        </div>
        <div class="row h-25 align-items-end">
          <div class="card-group w-100">
            <div class="col-md-4 bg-purple border border-top-0 border-bottom-0 border-left-0">
              <div class="card bg-transparent text-light border-0">
                <div class="card-body">
                  <div class="card-text"><h6 class="text-light mt-2">Event</h6></div>
                  <div class="card-title"><h5 class="text-white mt-4">{{event.name}}</h5></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 bg-purple border border-top-0 border-bottom-0">
              <div class="card bg-transparent text-light border-0">
                <div class="card-body">
                  <div class="card-text"><h6 class="text-light mt-2">Venue</h6></div>
                  <div class="card-title"><h5 class="text-white mt-4">{{event.location}}</h5></div>
                </div>
              </div>
            </div>
            <div class="col-md-2 bg-purple border border-top-0 border-bottom-0">
              <div class="card bg-transparent text-light border-0">
                <div class="card-body">
                  <div class="card-text"><h6 class="text-light mt-2">Price</h6></div>
                  {% if event.sale_price %}
                    {% if event.sale_price == 0.00 %}
                    <div class="card-title"><h5 class="text-white mt-4">Free</h5></div>
                    {% else %}
                    <div class="card-title"><h5 class="text-white mt-4">₦{{event.sale_price | intcomma}}</h5></div>
                    {% endif %}
                  {% else %}
                    {% if event.price == 0.00 %}
                    <div class="card-title"><h5 class="text-white mt-4">Free</h5></div>
                    {% else %}
                    <div class="card-title"><h5 class="text-white mt-4">₦{{event.price | intcomma}}</h5></div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-2 bg-purple border border-top-0 border-bottom-0 border-right-0">
              <div class="card bg-transparent text-light border-0">
                <div class="card-body">
                  <div class="card-text"><h6 class="text-light mt-2">State</h6></div>
                  <div class="card-title"><h5 class="text-white mt-4">Lagos</h5></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <h5 class="card-title border border-danger">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p> -->
        <!-- <span class="align-text-bottom">Lorem, ipsum dolor.</span> -->
      </div>
    </div>
    <!-- <div class="event-img">
        <img src="img/new/img 3.jpeg" alt="">
      </div> -->
  </div>
  <div class="container mt-4 mt-md-5 mb-5">
    <!-- Is visible only in mobile view -->
    <div class="row d-block d-md-none">
      <div class="col-sm-6 text-center">
        <h5 class="">{{event.name}}</h5>
        <h6 class="">{{event.location}} {% if event.city %}, {{event.city}} {% endif %} {% if event.state %}, {{event.state}} {% endif %}</h6>
      </div>
      <div class="col-sm-6 mt-4">
        <div class="row">
          <div class="col-6">
            <h6 class="">Date:</h6>
            <p class="mt-2">{{event.start_time|date:"jS F Y"}}</p>
          </div>
          <div class="col-6">
            <h6 class="">Time:</h6>
            <p class="mt-2">{{event.start_time|time:"h:i a"}}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <h6 class="mt-2">Price:</h6>
        <hr>
        <div class="row align-items-center">
          <div class="col-6">
            <div class="card-text"></div>
            {% if event.sale_price %}
              {% if event.sale_price == 0.00 %}
              <h5 class=" mt-2">Free</h5>
              {% else %}
              <h5 class=" mt-2">₦{{event.sale_price | intcomma}}</h5>
              {% endif %}
            {% else %}
              {% if event.price == 0.00 %}
              <h5 class=" mt-2">Free</h5>
              {% else %}
              <h5 class=" mt-2">₦{{event.price | intcomma}}</h5>
              {% endif %}
            {% endif %}
          </div>
          <div class="col-6">
            <a href="{% url 'core:cart_add' event.id %}" class="btn w-25 rounded-0 shadow-none">Cart</a>
            <a href="{% url 'core:cart_detail' %}" class="btn w-75 btn-purple float-right">Purchase</a>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <p class="px-3 mt-5">{{event.description}}</p>

  </div>
</main>
{% endblock content %}l