{% extends 'core/base_slim.html' %}
{% load static %}


{% block content %}
<main>
    <div class="container my-5">      
      <div class="row py-5">
        <div class="col-md-6 px-5">
          <div class="">
            <img src="{% static 'core/img/new/img 7.png' %}" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-md-6 px-5"> 
          <h4 class="text-purple my-5 px-md-5 pt-5 font-weight-bold">Forgot Password</h4>
          <form class="px-md-5">
            <div class="form-group">
              <label class="text-dark-purple" for="Email">Enter your Email address</label>
              <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">The password reset link will be sent to your mail.</small>
            </div>
            <button type="submit" class="btn btn-purple w-50">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}