<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'core/img/tu Logo 2.png' %} " type="image/x-icon">
    <title>TURN UP</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'core/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <!-- ICONS -->
    <link rel="stylesheet" href="{% static 'core/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/flaticon/font/flaticon.css ' %}">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    {% block extra_head %}
    {% endblock extra_head %}

</head>
<body id="bg-img">
    <header class="bg-purple">

        <nav class="navbar navbar-expand-lg navbar-light text-light px-3">
            <!-- LOGO AND BRAND -->
            <a class="navbar-brand text-light" href="{% url 'core:homepage' %}">
                <img src="{% static 'core/img/tu Logo 2.png' %}" class="logo" alt="LOGO"> TURN UP
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{% static 'core/img/menu.svg' %}" class="py-2" width="30px" alt="">
            </button>
    
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-3 active">
                        <a class="nav-link text-white font-weight-bold " href="{% url 'core:homepage' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link text-light" href="{% url 'core:event_list' %}">Events</a>
                    </li>
                    
                    {% if featured_venue %}
                    <li class="nav-item px-3">
                        <a class="nav-link text-light" href="{% url 'location:location_list' %}">Venues</a>
                    </li>
                    {% endif %}
                    
                    {% if featured_transport %}
                    <li class="nav-item px-3">
                        <a class="nav-link text-light" href="{% url 'transportation:transportation_list' %}">Transportation</a>
                    </li>
                    {% endif %}
                        
                    <li class="nav-item px-3">
                        <a class="nav-link text-light" href="{% url 'core:faq' %}">FAQ</a>
                    </li>
                    <li class="nav-item px-3">
                        {% if user.is_authenticated %}
                        <a class="nav-link text-light" href="{% url 'core:create_event' %}">Create Event</a>
                        {% else %}
                        <a class="nav-link text-light" href="{% url 'registration:register' %}">Register</a>
                        {% endif %}
                    </li>
                    <li class="nav-item pl-3">
                        {% if user.is_authenticated %}                                
                        <div class="dropdown" style="top: 14%; cursor: pointer;">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                    <i class="fas fa-user"></i>
                                     Welcome, {{request.user}}
                                <span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right bg-purple rounded-sm" aria-labelledby="navbarDropdown">
                                <a class="nav-link text-white text-center" href="{% url 'core:cart_detail' %}">Cart</a>
                                <a class="nav-link text-white text-center" href="{% url 'registration:account' %}">Profile</a>
                               <!-- <a class="nav-link text-white" href="#">Something</a> -->
                               <div class="dropdown-divider"></div>
                               <a class="nav-link text-white text-center" href="{% url 'registration:logout' %}">Logout</a>
                            </div>
                        </div>
                        {% else %}
                        <a class="nav-link text-white" href="{% url 'registration:login' %}">Sign In</a>
                        {% endif %}        
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% include "partials/_messages.html" %}
        
    {% block content %}
    {% endblock %}

    <footer class="container-fluid bg-purple">
        <div class="row">
            <div class="col-12 col-md pt-3 px-5">
                <ul class="nav float-lg-left justify-content-center">
                    <a href="mailto:info@tekksoftware.xyz" class="text-light"><small>info@tekksoftware.xyz</small></a>
                </ul>
            </div>
            <!-- SOCIAL -->
            <div class="col-12 col-md py-3 px-5 ">
                <ul class="nav justify-content-center justify-content-md-end">
                    <a class="nav-link px-1 text-light" href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                    <a class="nav-link px-1 text-light" href="#"><span class="icon-twitter p-2"></span></a>
                    <a class="nav-link px-1 text-light" href="#"><span class="icon-instagram p-2"></span></a>
                    <a class="nav-link px-1 text-light" href="#"><span class="icon-rss p-2"></span></a>
                    <a class="nav-link px-1 text-light" href="#"><span class="icon-envelope p-2"></span></a>
                </ul>
            </div>
            <div class="w-100"></div>
            <!-- COPYRIGHT -->
            <div class="col justify-content-center">
                <p class="copyright-text text-center text-light">Copyright &copy; 2021 Turnup | All rights reserved</p>
            </div>
        </div>
    </footer>
    
    <!-- JAVASCRIPT -->
    <section>
        <script src="{% static 'core/js/wow.min.js' %}"></script>
        <script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'core/js/popper.min.js' %}"></script>
        <script src="{% static 'core/js/bootstrap.min.js' %}"></script>

        <!-- For Deployment -->
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
        
        <!-- For Toasts  -->
        <script>
            $(document).ready(function(){
                $('.toast').toast('show');
            });
        </script>
    </section>
</body>
</html>