$color-purple: #560186;
$color-dark-purple: #32203b;

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(93, 96, 7);
    background: linear-gradient(90deg, rgba(93, 96, 7, 0.06904768743434875) 0%, rgba(95, 121, 9, 0.06904768743434875) 37%, rgba(123, 0, 154, 0.08305328967524506) 63%, rgba(0, 212, 255, 0.07184880788252801) 100%);
}

table, td, th {
    border: 1px solid black;
}

table {
    width: 100%;
    padding: 1rem;
    border-collapse: collapse;
}

.image {
    margin: 2rem auto;
    max-width: 90%;
    border-radius: 5px;
}

.mail {
    width: 95%;
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;

    &__header {
        margin: 2rem 0 2rem 2rem;
        font-weight: bolder;
        text-align: left;
    }
}

.ticket {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    
    &__image {
        grid-column: 1/2;
    }

    &__detail {
        grid-column: 2/3;
        margin: 2rem;
        padding: 2rem;
        background: rgba(255, 255, 255, 0.486);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(4px);
        border: solid 1px #ccc;
        border-radius: 5px;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.105);
    }

    &__detail--row {
        display: block;
        margin: .5rem;
    }

    &__title, &__type, &__extra, &__location, &__datetime {
        margin: .5rem 0;
        color: $color-dark-purple;

        &--title{
            color: $color-purple;
            margin-top: 2rem;
        }
    }

    &__id {
        text-align: right;
    }

    &__datetime {
        &--start, &--end {
            margin: .5rem 0;
        }
    }
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;

    &__content {
        grid-column: 1/-1;
        align-self: center;
        justify-self: center;
    }
}

.datetime {
    margin-bottom: 2rem;

    &--title {
        color: $color-purple;
    }

    &--time {
        margin: 0 1rem;
    }

    &--date {
        margin-left: 1rem;
    }
}

.copyright {
    color: #888;
    margin-top: 2rem;
}

@media only screen and (max-width: 1024px) {
    .mail{
        width: 100%;
    }

    .image {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .ticket {
        &__image, &__detail {
            grid-column: 1/-1;
            grid-row: 2/3   ;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        &__detail {
            grid-row: 1/2;
            margin: 0 3rem 2rem 2rem;
        }
    }
}