{% load static %}
<footer class="bg-dark-purple">
  <div class="container mt-5">
    <div class="row py-5">
      <!-- about us -->
      <div class="col-md-4 my-5">
        <h5 class="mb-4 text-white">About Us</h5>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eveniet numquam hic
          dolore quo aut pariatur dolores iure recusandae tenetur repudiandae dignissimos veritatis molestiae at unde
          ipsum harum alias nihil, deserunt laborum quisquam. Reiciendis nulla provident exercitationem cum veritatis
          libero.
        </p>
      </div>
      <!-- footer links -->
      <div class="col-md-4 my-5">
        <div class="row footer-nav">
          <div class="col-6">
            <ul class="list-unstyled px-3">
              <li class="my-3 text-center"><a class="footer-link text-decoration-none text-light font-weight-light"
                  href="">Events</a></li>
              <li class="my-3 text-center"><a class="footer-link text-decoration-none text-light font-weight-light"
                  href="">Create Event</a></li>
              <li class="my-3 text-center"><a class="footer-link text-decoration-none text-light font-weight-light"
                  href="">FAQ</a></li>
              <li class="my-3 text-center"><a class="footer-link text-decoration-none text-light font-weight-light"
                  href="">About Us</a></li>
              <li class="my-3 text-center"><a class="footer-link text-decoration-none text-light font-weight-light"
                  href="">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="list-unstyled px-3">
              <li class="my-3 text-center"><a class="footer-link text-decoration-none text-light font-weight-light"
                  href="">Profile</a></li>
              <li class="my-3 text-center"><a class="footer-link text-decoration-none text-light font-weight-light"
                  href="">Pricing</a></li>
              <li class="my-3 text-center"><a class="footer-link text-decoration-none text-light font-weight-light"
                  href="">Sign In</a></li>
              <li class="my-3 text-center"><a class="footer-link text-decoration-none text-light font-weight-light"
                  href="">Register</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- social links -->
      <div class="col-md-4 my-5">
        <h5 class="mb-4 text-white">Our Social Media </h5>
        <ul class="nav">
          <a class="nav-link px-1 text-light" href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
          <a class="nav-link px-1 text-light" href="#"><span class="icon-twitter p-2"></span></a>
          <a class="nav-link px-1 text-light" href="#"><span class="icon-instagram p-2"></span></a>
          <a class="nav-link px-1 text-light" href="#"><span class="icon-rss p-2"></span></a>
          <a class="nav-link px-1 text-light" href="#"><span class="icon-envelope p-2"></span></a>
        </ul>
      </div>
    </div>
    <!-- Copyright -->
    <!-- <h6 class="text-secondary text-center mb-0 pb-3"><small>Copyright &copy; 2020 <a class="text-light" href="http://www.tekksoftware.xyz">tekksoftware</a> | All rights reserved</small></h6> -->
    <h6 class="text-secondary text-center mb-0 pb-3"><small>Copyright &copy; 2020 Turnup | All rights reserved</small></h6>
  </div>
</footer>