{% load static %}
<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="{% url 'core:homepage' %}"><img src="{% static 'core/img/new/logo.png' %}" height="32px" alt="site logo"></a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <!-- home page -->
        {% if request.path == "" %}
          <li class="nav-item active">
            <a class="nav-link mx-3 text-purple" href="{% url 'core:homepage' %}">Home <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link mx-3" href="{% url 'core:homepage' %}">Home</a>
          </li>
        {% endif %}
        <!-- event list -->
        {% if "events" in request.path %}
        <li class="nav-item active">
          <a class="nav-link mx-3 text-purple" href="{% url 'core:event_list' %}">Events <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link mx-3" href="{% url 'core:event_list' %}">Events</a>
        </li>
        {% endif %}
        <!-- faq -->
        {% if "faq" in request.path %}
        <li class="nav-item active">
          <a class="nav-link mx-3 text-purple" href="{% url 'core:faq' %}">FAQ <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link mx-3" href="{% url 'core:faq' %}">FAQ</a>
        </li>
        {% endif %}
        
        <!-- Active link example -->
        <!-- <li class="nav-item active">
          <a class="nav-link mx-3 text-purple" href="FAQ.html">FAQ <span class="sr-only">(current)</span></a>
        </li> -->
        
        {% if user.is_authenticated %}
          {% if "create" in request.path %}
          <li class="nav-item active">
            <a class="nav-link mx-3 text-purple" href="{% url 'core:create_event' %}">Create Event <span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link mx-3" href="{% url 'core:create_event' %}">Create Event</a>
          </li>
          {% endif %}

          <!-- <li class="nav-item bg-purple rounded">
            <a class="nav-link text-white font-weight-bold mx-3" href="{% url 'registration:account' %}">My Account</a>
          </li> -->

          <li class="nav-item">
            <div class="dropdown nav-link" style="cursor:pointer;">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="text-purple" >
                  <!-- <img src="{% static 'core//img/profile.png' %}" alt="profile" width="30" height="30"> -->
                  <i class="far fa-user pr-1"></i>
                   {{request.user}}
                  <span>
              </a>
              <div class="dropdown-menu dropdown-menu-right rounded-sm" aria-labelledby="navbarDropdown"  style="z-index: 1030;">
                <a class="nav-link text-purple text-center" href="{% url 'core:cart_detail' %}"><i class="fas fa-shopping-cart text-purple pr-2"></i>Cart</a>
                <a class="nav-link text-purple text-center" href="{% url 'registration:account' %}"><i class="fas fa-user text-purple pr-2"></i>Profile</a>
                <!-- <a class="nav-link text-purple" href="#">Something</a> -->
                <div class="dropdown-divider"></div>
                <a class="nav-link text-purple text-center" href="{% url 'registration:logout' %}"><i class="fas fa-sign-out-alt text-purple pr-2"></i>Logout</a>
              </div>
            </div>
          </li>
        {% else %}
        
        {% if "login" in request.path %}
        <li class="nav-item active">
          <a class="nav-link mx-3 text-purple" href="{% url 'registration:register' %}">Register <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link mx-3 text-purple" href="{% url 'registration:register' %}">Register</a>
        </li>
        {% endif %}

        <li class="nav-item bg-purple rounded">
          <a class="nav-link text-white font-weight-bold mx-3" href="{% url 'registration:login' %}">Sign In</a>
        </li>

        {% endif %}
          
      </ul>
    </div>
  </nav>
</header>