<!-- SEARCH -->
<section class="bg-light">
    <div class="container pt-3">
        <form class="" action="{% url 'core:search' %}" method="GET" role="search">
            <div class="input-group">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search ..." aria-label="search">
                <div class="input-group-prepend">
                    <span><input class="btn btn-outline-purple rounded-sm" type="submit" value="Search"></span>
                </div>
            </div>
            <!-- <input class="form-control mr-sm-2" type="search" name="q" placeholder="search" aria-label="search"> -->
            <!-- <input class="btn btn-outline-purple" type="submit" value="Search"> -->
        </form>
        <nav>

        </nav>
    </div>
</section>