{% load inlinecss %}
{% inlinecss "core/css/style_main.css" %}
<link rel="stylesheet" href="../../static/core/css/style_main.css">
<main>
    <div class="mail">
        <h4 class="mail__header">Hello {{user_order.ticket_name}}.</h4>
        
        <div class="ticket">
            {% if item.ticket_type %}
            <div class="ticket__type">
                Ticket Type: {{item.ticket_type}}
            </div>
            {% endif %}
            
            {% if item.ticket_extra_info %}
            <div class="ticket__extra">
                Ticket Type: {{item.ticket_extra_info}}
            </div>
            {% endif %}
            <hr>
            {% for item in order_items %}
            <span class="ticket__title"><p class="ticket__title">Event name:</p></span>
            <span class="ticket__id"><h5>{{item.ticket_id}}</h5></span>
            <h4>{{item.name}}</h4>
            <img class="ticket__image" src="{{item.image.url}}" alt="">
            <hr>
            <div class="ticket__details">
                <span class="ticket__details--item">{{item.street_address}}</span>
                <span class="ticket__details--item">{{item.city}}</span>
                <span class="ticket__details--item">{{item.state}}</span>
            </div>
            <div class="ticket__details">
                <span class="ticket__details--item">{{item.start_time}}</span>
                <span class="ticket__details--item">{{item.end_time}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endinlinecss %}