{% load inlinecss %}
{% inlinecss "core/css/style_main.css" %}
<main>
    <div class="container">
        <div class="row text-center">
            Hello {{user_order.ticket_name}}.
            <div class="col-6 bg-warning">
                http
            </div>
            <div class="col-6 bg-danger">
                ftp 
            </div>
            <hr>
            {% for item in order_items %}
            <p class="text-secondary pt-4">Event name:</p>
            <h5>{{item.name}}</h5>
            <img class="img-fluid" src="{{item.image.url}}" alt="" width="500px">
            <hr>
            <div class="pt-3">
                <span class="pr-2">{{item.street_address}}</span>
                <span class="pr-2">{{item.city}}</span>
                <span class="pr-2">{{item.state}}</span>
            </div>
            <div class="pt-3">
                <span class="pr-2">{{item.start_time}}</span>
                <span class="pr-2">{{item.end_time}}</span>
            </div>
            {% endfor %}
        </div>           
    </div>
</main>
{% endinlinecss %}