{% extends 'base_slim.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_head %}
<!-- <style>
  .login-bg {
    /* background-image: url(img/new/img\ 3\ 1.png); */
    background-image: url({% static 'core/img/new/img_3_1.png' %});
    height: 100vh;
    position: relative;
    background-size: cover;
  }
</style> -->
{% endblock extra_head %}


{% block content %}
<main>
  <div class="container my-5">
    <h4 class="text-purple my-5 text-center text-dark font-weight-bold">{{title}} Transportation Listing</h4>
    <div class="row py-5">
      <div class="col-md-6 bg-white rounded-sm p-4">
        <form enctype="multipart/form-data" action="" method="post">
          {% csrf_token %}
          {{form|crispy}}

          <!-- <input id="input-b1" name="input-b1" type="file" class="file w-100" data-browse-on-zone-click="true"> -->

          <button type="submit" class="btn btn-purple w-50 mt-3">{{title}}</button>
        </form>
      </div>
      <div class="col-md-5 offset-md-1 mb-5">

      </div>
    </div>
  </div>
</main>
{% endblock content %}