{% extends 'base_slim.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_head %}
<style>
  .login-bg {
    /* background-image: url(img/new/img\ 3\ 1.png); */
    background-image: url("{% static 'core/img/new/img_3_1.png' %}");
    height: 100vh;
    position: relative;
    background-size: cover;
  }
</style>
{% endblock extra_head %}
    
{% block content %}
<main>
  <div class="container-fluid my-5 pt-2">
    <div class="row">
      <div class="col-11 col-md-6 col-lg-4 mx-auto text-center bg-white rounded-sm my-5 border">
        <h4 class="text-dark-purple font-weight-bold my-5">Sign In</h4>
        <form action="" method="POST" class="px-md-4 px-lg-5">
          {% csrf_token %}

          <!-- This allows the form to be crispy -->
          <!-- {{form|crispy}} -->

          {{ form.non_field_errors }}
          <div class="form-group">
            {{form.username.errors}}
            <label class="col-form-label" for="{{form.username.id_for_label}}">Username</label>
            {{form.username}}
            {% if form.username.help_text %}
            <p class="help text-muted"><small>{{ form.username.help_text|safe }}</small></p>
            {% endif %}
          </div>
          <div class="form-group">
            {{form.password.errors}}
            <label class="col-form-label" for="{{form.password.id_for_label}}">Password</label>
            {{form.password}}
            {% if form.password.help_text %}
            <p class="help text-muted"><small>{{ form.password.help_text|safe }}</small></p>
            {% endif %}
          </div>
          
          <button type="submit" class="btn btn-purple w-50 mt-3 ">Sign In</button>
        </form>
        <p class="mt-5 mb-2"><small>Don't have an account? <a class="" href="{% url 'registration:register' %}">Register</a></small></p>
        <p class="mb-5"><a class="text-muted" href="{% url 'password_reset' %}"><small>Forgot password</small></a></p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}