{% extends 'base_slim.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_head %}
<style>
  .login-bg {
    /* background-image: url(img/new/img\ 3\ 1.png); */
    background-image: url("{% static 'core/img/new/img_9_bg.png' %}");
    height: 200vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    }
</style>
{% endblock extra_head %}

{% block content %}
<main>
  <div class="container-fluid my-5 pt-2">
    <div class="row">
      <div class="col-11 col-md-6 col-lg-4 mx-auto text-center bg-white rounded-sm my-5 border">
        <h4 class="text-dark-purple font-weight-bold my-5">Register</h4>
        <form action="" method="POST" class="px-md-5">
          {% csrf_token %}
          
          <!-- This allows the form to be crispy -->
          {{form|crispy}}

          <!-- {{ form.non_field_errors }}
          <div class="form-group">
            {{form.username.errors}}
            <label class="col-form-label" for="{{form.username.id_for_label}}">Username</label>
            {{form.username}}
            {% if form.username.help_text %}
            <p class="help text-muted"><small>{{ form.username.help_text|safe }}</small></p>
            {% endif %}
          </div>
          <div class="form-group">
            {{form.first_name.errors}}
            <label class="col-form-label text-muted" for="{{form.first_name.id_for_label}}">First Name</label>
            {{form.first_name}}
            {% if form.first_name.help_text %}
            <p class="help text-muted"><small>{{ form.first_name.help_text|safe }}</small></p>
            {% endif %}
          </div>
          <div class="form-group">
            {{form.last_name.errors}}
            <label class="col-form-label text-muted" for="{{form.last_name.id_for_label}}">Last Name</label>
            {{form.last_name}}
            {% if form.last_name.help_text %}
            <p class="help text-muted"><small>{{ form.last_name.help_text|safe }}</small></p>
            {% endif %}
          </div>
          <div class="form-group">
            {{form.email.errors}}
            <label class="col-form-label" for="{{form.email.id_for_label}}">Email</label>
            {{form.email}}
            {% if form.email.help_text %}
            <p class="help text-muted"><small>{{ form.email.help_text|safe }}</small></p>
            {% endif %}
          </div>
          <div class="form-group">
            {{form.password1.errors}}
            <label class="col-form-label" for="{{form.password1.id_for_label}}">Password</label>
            {{form.password1}}
            {% if form.password1.help_text %}
            <p class="help text-muted"><small>{{ form.password1.help_text|safe }}</small></p>
            {% endif %}
          </div>
          <div class="form-group">
            {{form.password2.errors}}
            <label class="col-form-label" for="{{form.password2.id_for_label}}">Password Confirmation</label>
            {{form.password2}}
            {% if form.password2.help_text %}
            <p class="help text-muted"><small>{{ form.password2.help_text|safe }}</small></p>
            {% endif %}
          </div> -->
          
          <button type="submit" class="btn btn-purple w-50 mt-5 ">Register</button>
        </form>
        <p class="mt-5 mb-2"><small>Don't have an account? <a class="" href="{% url 'registration:login' %}">Sign In</a></small></p>
        <p class="mb-5"><a class="text-muted" href="{% url 'password_reset' %}"><small>Forgot password</small></a></p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
